.puntos-tenis {
    min-width: 300px;
    font-size: 4rem;
    border-radius: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    background-image: url('../img/tenis.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
