/*Gilberto André García Gaytán A01753176
Hoja de estilos menú superior */ 
.menu {
    background-color: #0077be;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  